.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.justify-start {
  justify-content: flex-start;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-start {
  justify-content: flex-end;
}

.p-1 {
  padding: 0.25rem;
}
.p-2 {
  padding: 0.50rem;
}
.p-3 {
  padding: 0.75rem;
}
.p-4 {
  padding: 0.1rem;
}

.m-1 {
  margin: 0.25rem;
}
.m-2 {
  margin: 0.50rem;
}
.m-3 {
  margin: 0.75rem;
}
.m-4 {
  margin: 0.1rem;
}